@import url('https://fonts.cdnfonts.com/css/open-sans');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
  }

  .sidebar{
    height: 70vh;
    width: 100%;
    padding: 70px; 
    background-color: whitesmoke;
  }
  
  .content{
    width: 1130px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }

  .left-text{
    width: 32rem;
  }

  .left-text h1{
    color: black; 
    font-size: 3rem; 
    font-weight: 700;
  }

  .left-text p{
    margin-top: 2rem;
    color: black; 
    font-size: 15px; 
    text-align: justify;
  }

  .bar-btns {
    width: 100%;
    margin-top: 2rem;

}

.bar-btns .btn {
    width: 170px;
    font-size: 15px;
    text-align: center;
    border-radius: 5px 5px 5px 5px;
    font-weight: 600;
}

.img{
  height: auto;
  width:  35rem;
  float: right;
  padding-left: 50px;
}

@media screen and (max-width:1000px) {
  .img {
    width: 30rem; 
  }
}

@media screen and (max-width:950px) {
  .img {
    width: 25rem; 
  }
}

@media screen and (max-width:850px) {
  .img {
    position: absolute;
    right: 0;
    left: 0;
    padding-top: 15rem;
  }
  .sidebar{
    height: 100vh;
  }
}

@media screen and (max-width:500px) {
  .img {
    padding-top: 17rem;
  }
  .sidebar{
    height: 110vh;
  }
}





